.tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #475581;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  
  .tab button.active {
    background-color: #ccc;
  }
  
 
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(94, 94, 94);
    border-top: none;
    margin-left: 50px;
    margin-right: 50px;
  }